server:
  ami: ami-12345
  fqdn: server.{{domain}}

node1:
  ami: ami-12345
  fqdn: node1.{{domain}}

node2:
  ami: ami-12345
  fqdn: node1.{{domain}}

node3:
  ami: ami-12345
  fqdn: node1.{{domain}}
