{
  "AWSTemplateFormatVersion": {{ AWSTemplateFormatVersion | to_nice_json }},
  "Description": {{ Description | to_nice_json }},
  "Parameters": {{ Parameters | to_nice_json }},
  "Mappings": {{ Mappings | to_nice_json }},
  "Resources": {{ Resources | to_nice_json }},
  "Outputs": {{ Outputs | to_nice_json }}
}
